<DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>{{ page.title }}</title>

    <!-- CSS  -->
    <link href="{{ site.url }}/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ site.url }}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ site.url }}/css/anime.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class = "container">
      <div class = "mar20 brand-logo">
        <a style = "cursor:pointer;font-size:24px;" href = "index.html">
          <img src='images/logo.png' style="height:60px;">
        </a>
        <div style="display:inline;float:right;margin-top:15px;font-size:24px;">
          <a id="callmebutton_1" style="color:#17a2a2;" class = "" href="tel:9820011185">Call Now - 91-9820011185</a>
        </div>
      </div>
        
      <nav id="primary_nav_wrap">
         <ul class = blue-text text-darken-4>
            <li><a style="color:#909090;" class = "bold" href = "index.html">Home</a></li>
            <li><a style="color:#909090;" class = ""  href = "">Categories</a></li>
            <li><a style="color:#909090;" class = ""  href = "">All Products</a></li>
            <li><a style="color:#909090;" class = ""  href = "">About Us</a></li>
            <li><a style="color:#909090;" class = ""  href = "contact.html">Contact Us</a></li>
         </ul>
      </nav>
        {{content}}
    </div>


    <footer style = "width:100%;background-color:#f3f7f3" class="white-text page-footer">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <ul>
              <li><a style="color:#909090;" class = "" href="index.html">Home</a></li>
              <li><a style="color:#909090;" class = ""   href="">Products</a></li>
              <li><a style="color:#909090;" class = ""   href="">Categories</a></li>  
            </ul>
          </div>
          <div class="col l4 s12">
            <ul>
              <li><a style="color:#909090;" class = "" href="">About Us</a></li>
              <li><a style="color:#909090;" class = ""   href="contact.html">Contact Us</a></li>
              <li><a style="color:#909090;" class = ""   href="">Terms & Conditions</a></li>  
            </ul>
          </div>
          <div class="col l4 s12">
            <ul>
              <li>
                <a id="callmebutton_2" style="color:#909090;" class = "" href="tel:9820011185">Call Now - 91-9820011185</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row" style="max-width: 80%; color:#17a2a2;">
        <div class="col s6">© 2015 Copyright Site Builder</div>
        <div class="col s6" style="text-align: right;">
          <a href="http://kodeplay.com">Site made with 
          <span style="color: #ff0000;">❤</span> 
          by <img alt="website develpment in mumbai" src="http://kodeplay.com/images/kodeplay.png" style="width:120px; height:12px;" /> in Mumbai</a>
        </div>
      </div>
    </footer> 
    <scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ site.url }}js/materialize.js"></script>
    <script src="{{ site.url }}js/init.js"></script>
    <script src="{{ site.url }}js/main.js"></script>

    <script type = "text/javascript">

$(document).ready(function(){
  $('.slider').slider({full_width: true});
  $('select').material_select();
  if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
  } else {
    $('#callmebutton').attr('href', '#');
    $('#callmebutton_1').attr('href', '#');
    $('#callmebutton_2').attr('href', '#');

    $("#callmebutton").on( "click", function() {
      $('#callmebutton').replaceWith('<p class="small button" id="callmebutton">Call Me on 9322697425</p>');
    });
  }

  path_name = window.location.pathname;
  path_res = path_name.indexOf("orders");
  if(path_res > 0) {
    a = window.location;
    b = a.search;
    c = b.split('?product_name=');
    d = c[1];
    e = d.split('&product_price=');
    product_name = decodeURIComponent(e[0]);
    f = e[1].replace('+', ' ');
    product_price = decodeURIComponent(f);

    $('#product_name').val(product_name);
    $('#product_price').val(product_price);
  }
});

$(function () {
  $('#emailLink').on('click', function (event) {
    event.preventDefault();
    
    var email1 = 'aaron@kodeplay.com';
    var subject = 'Enquiry';

    name = $('#name').val();
    email = $('#email').val();
    phone = $('#phone').val();
    textarea1 = encodeURIComponent($('#textarea1').val());
    //textarea1 = textarea1.replace('\n', '%0D%0A');

    $('#name_e').html('');
    $('#email_e').html('');
    $('#phone_e').html('');
    $('#message_e').html('');

    $('#name').css({"border-bottom" : "1px solid #9e9e9e", "border-shadow" : "0 0 0 0 solid #9e9e9e"});
    $('#email').css({"border-bottom" : "1px solid #9e9e9e", "border-shadow" : "0 0 0 0 solid #9e9e9e"});
    $('#phone').css({"border-bottom" : "1px solid #9e9e9e", "border-shadow" : "0 0 0 0 solid #9e9e9e"});
    $('#textarea1').css({"border-bottom" : "1px solid #9e9e9e", "border-shadow" : "0 0 0 0 solid #9e9e9e"});

    if(name == ''){
      $('#name').css({"border-bottom" : "1px solid red", "border-shadow" : "0 1px 0 0 solid red"});
      $('#name_e').html('Please Enter Name');
      return false;
    }

    if(email == ''){
      $('#email').css({"border-bottom" : "1px solid red", "border-shadow" : "0 1px 0 0 solid red"});
      $('#email_e').html('Please Enter Email');
      return false;
    }

    email_val = validateEmail(email);
    if(email_val === false){
      $('#email').css({"border-bottom" : "1px solid red", "border-shadow" : "0 1px 0 0 solid red"});
      $('#email_e').html('Please Enter valid Email');
      return false;
    }
    
    if(phone == ''){
      $('#phone').css({"border-bottom" : "1px solid red", "border-shadow" : "0 1px 0 0 solid red"});
      $('#phone_e').html('Please Enter Phone Number');
      return false;
    }

    // var phoneNum = phone.replace(/[^\d]/g, '');
    // if(phoneNum.length >= 10 && phoneNum.length < 12) {  
    // } else {
    //   $('#phone').css({"border-bottom" : "1px solid red", "border-shadow" : "0 1px 0 0 solid red"});
    //   $('#phone_e').html('Please Enter valid Phone Number');
    //   return false;
    // }

    if(textarea1 == ''){
      $('#textarea1').css({"border-bottom" : "1px solid red", "border-shadow" : "0 1px 0 0 solid red"});
      $('#message_e').html('Please Enter Message');
      return false;
    }

    body_content = 'Name : ' + name + '%0D%0A';
    body_content += 'Email : ' + email + '%0D%0A';
    body_content += 'Phone : ' + phone + '%0D%0A';
    body_content += 'Message : ' + textarea1 + '%0D%0A';

    var emailBody = body_content;

    //var emailBody = 'Some blah%0D%0ASome blah';
    window.location = 'mailto:' + email1 + '?subject=' + subject + '&body=' +   emailBody;
  });

  $('#orderbutton').on('click', function (event) {
    event.preventDefault();
    
    var email1 = 'aaron@kodeplay.com';
    var subject = 'New Order';

    p_name = $("input[name=product_name]").val();
    p_price = $("input[name=product_price]").val();
    quantity = $("input[name=product_quantity]").val();
    address = encodeURIComponent($("#shipping").val());
    phone1 = $('#phone1').val();
    //textarea1 = textarea1.replace('\n', '%0D%0A');

    $('#product_quantity_e').html('');
    $('#shipping_e').html('');
    $('#phone_e1').html('');
    
    $('#product_quantity').css({"border-bottom" : "1px solid #9e9e9e", "border-shadow" : "0 0 0 0 solid #9e9e9e"});
    $('#shipping').css({"border-bottom" : "1px solid #9e9e9e", "border-shadow" : "0 0 0 0 solid #9e9e9e"});
    $('#phone1').css({"border-bottom" : "1px solid #9e9e9e", "border-shadow" : "0 0 0 0 solid #9e9e9e"});
    
    if(quantity == '' || quantity == 0){
      $('#product_quantity').css({"border-bottom" : "1px solid red", "border-shadow" : "0 1px 0 0 solid red"});
      $('#product_quantity_e').html('Please Enter Quantity');
      return false;
    }

    if(phone1 == ''){
      $('#phone1').css({"border-bottom" : "1px solid red", "border-shadow" : "0 1px 0 0 solid red"});
      $('#phone_e1').html('Please Enter Phone Number');
      return false;
    }

    // var phoneNum1 = phone1.replace(/[^\d]/g, '');
    // if(phoneNum1.length >= 10 && phoneNum1.length < 12) {  
    // } else {
    //   $('#phone1').css({"border-bottom" : "1px solid red", "border-shadow" : "0 1px 0 0 solid red"});
    //   $('#phone_e1').html('Please Enter valid Phone Number');
    //   return false;
    // }

    if(address == ''){
      $('#shipping').css({"border-bottom" : "1px solid red", "border-shadow" : "0 1px 0 0 solid red"});
      $('#shipping_e').html('Please Enter Shippign Address');
      return false;
    }
    
    body_content = 'Product Name : ' + p_name + '%0D%0A';
    body_content += 'Product Price : ' + p_price + '%0D%0A';
    body_content += 'Quantity : ' + quantity + '%0D%0A';
    body_content += 'Phone : ' + phone1 + '%0D%0A';
    body_content += 'SHipping Address : ' + address + '%0D%0A';

    var emailBody = body_content;

    //var emailBody = 'Some blah%0D%0ASome blah';
    window.location = 'mailto:' + email1 + '?subject=' + subject + '&body=' +   emailBody;
  });
});

function validateEmail(email) {
  var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
  return re.test(email);
}

function phonenumber(inputtxt){  
  var phoneno = /^\d{10}$/;  
  if(inputtxt.value.match(phoneno)){  
      return true;  
  } else {  
     return false;  
  }  
}
    </script>
  </body>
</html>

