<DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>{{ page.title }}</title>

    <!-- CSS  -->
    <link href="{{ site.url }}/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ site.url }}/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ site.url }}/css/anime.css" type="text/css" rel="stylesheet" media="screen,projection"/>

  </head>
  <body>
    <div class = "container">
      <div class = "mar20 brand-logo center"
        <a style = "cursor:pointer;"href = "#!"><img src='{{site.url}}/images/logo.png'>
      </div>

        <nav class = "blue lighten-5 blue-text text-lighten-3">
          <ul class = blue-text text-lighten-2>
            <li><a class = "bold blue-text text-lighten" href = "">Home</a></li>
            <li><a  class = "bold blue-text text-lighten" href = "">Free Resources</a></li>
            <li><a   class = "bold blue-text text-lighten" href = "">About Us</a></li>
            <li><a  class = "bold blue-text text-lighten"  href = "">Portfolio</a></li>
            <li><a   class = "bold blue-text text-lighten" href = "">Services</a></li>
            <li><a   class = "bold blue-text text-lighten" href = "">Blog</a></li>
            <li><a  class = "bold blue-text text-lighten"  href = "">Request an estimate</a></li>
          </ul>
        </nav>
        <h1 class = "left"><a href = "#!">{{page.title}}</a></h1>
         <div style = "border:1px solid #ccc;padding:7px;" class = "mar20 right">
    <p>
    On - 
    <span class='month'>{{ page.date | date: "%h" }}</span>
    <span class='date'>{{ page.date | date: "%d" }}</span>
    </p>
     <p>
    By - 
    <a href = "#">
    <span class='author'>{{page.author}}</span>
  </a>
    </p>
    <p>
    Reading Time: 10 minutes
    </p>
    </div> 
    <br/>
    <div style = "clear:both"></div>
        {{content}}
    </div>


    <footer style = "width:100%;" class="blue lighten-5 blue-text page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <p>You can use rows and columns here to organize your footer content.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <ul>
              <li><a  href="#!">Home</a></li>
              <li><a href="#!">Free Resources</a></li>
              <li><a  href="#!">About Us</a></li>
              <li><a  href="#!">Portfolio</a></li>
              <li><a  href="#!">Services</a></li> 
              <li><a  href="#!">Blog</a></li> 
              <li><a  href="#!">Request an estimate</a></li> 
            </ul>
